parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$id of static method Patchlevel\\EventSourcingBundle\\DependencyInjection\\ServiceAliasResolver\:\:resolve\(\) expects string, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/CommandHandlerCompilerPass.php

		-
			message: '#^Parameter \#1 \$classString of static method Patchlevel\\EventSourcing\\QueryBus\\HandlerFinder\:\:findInClass\(\) expects class\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/QueryHandlerCompilerPass.php

		-
			message: '#^Parameter \#2 \$id of static method Patchlevel\\EventSourcingBundle\\DependencyInjection\\ServiceAliasResolver\:\:resolve\(\) expects string, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/QueryHandlerCompilerPass.php

		-
			message: '#^Method Patchlevel\\EventSourcingBundle\\Normalizer\\SymfonyGuesser\:\:guess\(\) has parameter \$type with generic class Symfony\\Component\\TypeInfo\\Type\\ObjectType but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Normalizer/SymfonyGuesser.php

		-
			message: '#^Parameter \#1 \$uidClass of class Patchlevel\\EventSourcingBundle\\Normalizer\\UidNormalizer constructor expects class\-string\<Symfony\\Component\\Uid\\AbstractUid\>\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Normalizer/SymfonyGuesser.php

		-
			message: '#^Property Patchlevel\\EventSourcingBundle\\Normalizer\\UidNormalizer\:\:\$uidClass \(class\-string\<Symfony\\Component\\Uid\\AbstractUid\>\|null\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Normalizer/UidNormalizer.php

		-
			message: '#^Method Patchlevel\\EventSourcingBundle\\Tests\\Fixtures\\DummyGuesser\:\:guess\(\) has parameter \$type with generic class Symfony\\Component\\TypeInfo\\Type\\ObjectType but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: tests/Fixtures/DummyGuesser.php

		-
			message: '#^Property Patchlevel\\EventSourcingBundle\\Tests\\Fixtures\\Profile\:\:\$id is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/Fixtures/Profile.php

		-
			message: '#^Property Patchlevel\\EventSourcingBundle\\Tests\\Fixtures\\SnapshotableProfile\:\:\$id is unused\.$#'
			identifier: property.unused
			count: 1
			path: tests/Fixtures/SnapshotableProfile.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\DependencyInjection\\ContainerBuilder\:\:getAutoconfiguredAttributes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Unit/PatchlevelEventSourcingBundleTest.php

		-
			message: '#^Cannot access offset ''Patchlevel\\\\EventSourcing\\\\Attribute\\\\Aggregate''\|''Patchlevel\\\\EventSourcing\\\\Attribute\\\\Event'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/PatchlevelEventSourcingBundleTest.php

		-
			message: '#^Cannot access offset ''bus'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/Unit/PatchlevelEventSourcingBundleTest.php

		-
			message: '#^Cannot access offset ''handles'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/Unit/PatchlevelEventSourcingBundleTest.php

		-
			message: '#^Cannot access offset ''method'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/PatchlevelEventSourcingBundleTest.php

		-
			message: '#^Trying to invoke mixed but it''s not a callable\.$#'
			identifier: callable.nonCallable
			count: 1
			path: tests/Unit/PatchlevelEventSourcingBundleTest.php
