{% extends '@PatchlevelEventSourcing/base.html.twig' %}

{% block body %}
    <nav class="top-nav">
        <ul>
            <li>
                <a href="{{ path('patchlevel_eventsourcing_store_show') }}">Store</a>
            </li>
            <li>
                <a href="{{ path('patchlevel_eventsourcing_projection_show') }}">Projection</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
{% endblock %}
